[Desktop Entry]
Name=OpenJDK Java 24 Console
Comment=OpenJDK Java 24 Monitoring & Management Console
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-24-openjdk/bin/jconsole
Terminal=false
Type=Application
Icon=java24-openjdk
Categories=Application;System;
NoDisplay=true
