# conky config file
s46ca/conky/.config/conky/config.lua

# firefox preferences backup
# common/firefox/.mozilla/extensions
common/firefox/.mozilla/firefox/Crash\ Reports
common/firefox/.mozilla/firefox/default
!common/firefox/.mozilla/firefox/default/prefsCleaner.sh
!common/firefox/.mozilla/firefox/default/updater.sh
!common/firefox/.mozilla/firefox/default/user-override.js
!common/firefox/.mozilla/firefox/default/user.js
common/firefox/.mozilla/firefox/Pending\ Pings
common/firefox/.mozilla/firefox/Profile\ Groups

# lazy.nvim lock file
common/nvim/.config/nvim/lazy-lock.json

# sytem.d user timers
common/systemd/.config/systemd/user/timers.target.wants/

# wttr.in env file
common/wttrin/.config/wttrin/.env
