[user]
	email = 20055270+maozinha23@users.noreply.github.com
	name = maozinha23
[init]
	defaultBranch = main
[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
