[Unit]
Description=Update the weather cache file every 30 minutes

[Timer]
OnBootSec=1min
OnStartupSec=1min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
